body {
    font-family: "Lucida Grande", Helvetica, sans-serif;
    background-size: 500px;
    font-size: 13px;
    line-height: 1.5;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 0;
}

h2 {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 50px;
}

.underline {
    display: inline-block;
    border-bottom: solid 1px;
}

.website {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.intro-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.intro {
    display: inline-block;
    text-align: center;
}